<header>
  <div style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap: 0.5rem;">
    <div>
      <a class="nameplate" style="margin-bottom: 20px; font-size: 1.4rem;" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><br>
    </div>
    <div class="header-subtitle">{{ .Site.Params.subtitle }}</div>
  </div>
	<p>
	<nav>
			<a href="/"><b>Start</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
