<header>
  <div style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap: 0.5rem;">
    <div>
      <strong>+{{ strings.Repeat ( .Site.Title | len | add 2 ) "-" }}+</strong><br>
      <strong>|&nbsp;</strong><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a><strong>&nbsp;|</strong><br>
      <strong>+{{ strings.Repeat ( .Site.Title | len | add 2 ) "-" }}+</strong>
    </div>
    <div class="header-subtitle">{{ .Site.Params.subtitle }}</div>
  </div>
	<p>
	<nav>
			<a href="/"><b>Start</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
